/JGFAllSizeA.class
/JGFAllSizeB.class
/JGFEulerBenchSizeA.class
/JGFEulerBenchSizeB.class
/JGFMolDynBenchSizeA.class
/JGFMolDynBenchSizeB.class
/JGFMonteCarloBenchSizeA.class
/JGFMonteCarloBenchSizeB.class
/JGFRayTracerBenchSizeA.class
/JGFRayTracerBenchSizeB.class
/JGFSearchBenchSizeA.class
/JGFSearchBenchSizeB.class
/AssignTester.class
/JGFAssignBench.class
